
html,body{
  width: 100%;
  height: 100%;
  font-size: 12px; /* NOTE: courier is a rather "big" font, making smaller font size seem bigger */
  font-family: "Lucida Console", Courier, monospace;
  padding: 0 !important;
  margin: 0 !important;
}

.step-separator {
  margin: 0;
  margin-bottom: 0.5rem;
  border-top: 1px solid #777;
}

.time-spent {
  background-color: rgba(0, 0, 0, 0.5);
}

.action-text {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#pathways-timeline div {
  height: 20px;
  width: 10%;
}