/** ###########################################################################
 * jsplumb defaults
 * @see https://docs.jsplumbtoolkit.com/community/lib/styling-via-css
 * ############################################################################*/

.jtk-connector {
  z-index: -10;
}

svg.jtk-connector path {
  /* stroke: red; */
  stroke-width: 1;
}

.jtk-drag-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** ###########################################################################
 * components
 * ############################################################################*/

.timeline-jsplumb-container {
  position: relative;
}

.timeline-view {
  height: calc(100vh - 30px);
}

.timeline-group {
  pointer-events: none;
  position: absolute;
  border: 1px solid white;
  z-index: 1;
}

.timeline-ref-node {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 10;
}

.timeline-node {
  position: absolute;
  border: 1px solid white;
  padding: 2px;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  z-index: 20;
}

.timeline-node:hover .node-debug-overlay {
  display: initial;
}

.node-debug-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  max-width: 35vw;
  padding: 4px;
  margin: 1px;
  display: none;
  border: 1px solid white;
  background-color: black;
}

.timeline-ref-node>.timeline-node {
  position: unset;
}


.node-overlay {
  position: absolute;
  /* background-color: rgba(0,0,0,0.2); */
  background-color: transparent;
  z-index: 1000;
}

g polygon {
  fill: transparent;
};