# see: https://github.com/Microsoft/vscode-vsce/issues/12

.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
node_modules/**
src/**
test/**
public/**
*.vsix
webpack.config.js
logs/**
dbux_projects/**