@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
/* *{
  margin: 0;
  padding: 0;
}
html,body{
  height:100%;
  width:100%;
}
.graph{
  height:100%;
  width:100%;
}
canvas{
  display:block;
} */
.red{
  display:flex;
  flex-direction: column;
}
.root{
  height: auto;
  width: auto;
  display:inline-block;
}
.context{
  display:flex;
  flex-direction: row;
  justify-content:flex-start;
  height:auto;
  width:auto;
  margin:5px;
  border: 1px solid black;
  white-space: nowrap;
}

.context .body {
  flex-direction: column;
}

.trace{
  display:flex;
  justify-content:flex-start;
  height:auto;
  width:auto;
  margin:5px;
  border: 1px solid black;
  white-space: nowrap;
}
.title{
  /* width:auto;
  height:auto; */
}
.displayname{
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  max-width: 20rem;
  height: auto;
}


#tooltip {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
}
#arrow,
#arrow::before {
position: absolute;
width: 8px;
height: 8px;
z-index: -1;
}

#arrow::before {
content: '';
transform: rotate(45deg);
background: #333;
}
#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}
#tooltip {
/* ... */
  display: none;
}

#tooltip[data-show] {
  display: block;
}


.open_close_btn{
  display:inline-block;
  font-family: none;
  margin:0;
  padding: 0;
  line-height: 1rem;
}
.children{
  width:auto;
}



/*focus flash*/
.flash-me {
  -webkit-animation: flash linear 1.7s infinite;
  animation: flash linear 1.7s infinite;
}

@-webkit-keyframes flash {
  0%   { background:#fff; } 
  20%  { opacity: 1; background:none; } 
  40%  { background:#fff; } 
  60%  { opacity: 1; background:none; }	
  80%  { background:#fff;} 
  100% { opacity: 1; background:none; }
}
@keyframes flash {
  0%   { background:#fff; } 
  100% { opacity: 1; background:none; }
}


/* minimap */

#minimap{
  position: fixed;
  display:block;
  right: 10px;
  top: 60px;
  border: 2px solid black;
  background:black;
  
}


